.App {
  text-align: center;
}
.card-box, .results-box{
  margin: 0 auto;
  text-align: center;
}
.verdict-symbol {
  display: inline-block;
  margin-right: 5px;
  font-size: 1.15em;
  color: blue;
}
.card-question {
  border: 1px solid black;
  height: 125px;
  width: 50vw;
  padding: 10px;
  margin: 0 auto;
}
.card-buttons button {
  margin: 12px;
}
.score-text {
  font-size: 1.30em;
  color: #DC143C;
}
.App-header {
  background-color: #C9A9AB;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
